<body>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-sm-12 first"><h1>WELCOME TO <br><p>Luminar Bank</p><span>we hold your money</span></h1></div>
            <div class="col-lg-6 col-sm-12 main">
                <h2>Create Account</h2><hr>
                <form (ngSubmit)="register()">
                <input type="text" class="items" id="accntype" name = "accname" [(ngModel)]="acctype" placeholder="Enter Account Type"><br>
                <input type="text" class="items" id="accountnumber" name = "accno"[(ngModel)]="acno"  placeholder="Account Number"><br>
                <input type="text" class="items" id="username" name = "uname" [(ngModel)]="uname"   placeholder="Username"><br>
                <input type="text" class="items" id="password" name="pswd" [(ngModel)]="pswd"  placeholder="Password"> <br>
                <!-- <input type="text" class="items" id="minimumbalance" placeholder="Min. Balance"><br> -->
                <button class="item"  >SUBMIT</button>
            </form>
            </div>
        </div>
    </div>
    
</body>
